/* reset */

.bkg_img h1 {
  margin: 0;
}

/* Nesting */

.bkg_img,
.bro_bigtext,
.bro_signup_cont,
.bro_signup {
  display: flex;
}

.bro_bigtext,
.bro_signup_cont,
.bro_signup {
  position: relative;
}

/* Test */

.bkg_img {
  height: 100vh;
  background: linear-gradient(to bottom left, #2196f3, #47a7f5);
  /* background: linear-gradient(to bottom left, #f34b21e0, #f59b47d2); */
  /* background: linear-gradient(to bottom left, #d021f3, #d247f5); */
  flex-direction: row;
  justify-content: space-between;
}

.bro_bigtext {
  height: 100%;
  flex-direction: column;
  font-size: 4rem !important;
  margin-left: 8rem;
  justify-content: center;
  z-index: 1;
  color: rgb(255, 255, 255);
}

.bro_bigtext h4 {
  font-size: 2rem;
  text-align: center;
}

.bro_signup_cont {
  margin-right: 4rem;
  height: 100%;
  flex-direction: column;
  z-index: 1;
  justify-content: center;
}

.bro_signup {
  flex-direction: column;
  justify-content: center;
  height: 45rem;
  padding: 10rem;
  background-color: rgba(0, 0, 0, 0.26);
  z-index: 1;
  text-align: center;
}

.bro_signup h4 {
  margin-top: 1rem;
  border: 1px solid white;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}

/* Sign-up Buttons Extra */
.bro_signup button {
  margin-top: 2rem;
  padding: 1rem;
}

.bro_signup h1 {
  color: white;
  font-size: 3rem;
  padding-bottom: 3rem;
}

.bro_signup p {
  color: white;
  padding-top: 1.8rem;
  font-size: 1.3rem;
  margin-bottom: -0.5rem;
}

.bkg_img img {
  position: absolute;
  z-index: 0;
  opacity: 0.5;
  width: 100%;
  right: 0;
  height: 100%;
  overflow: hidden;
  /* filter: grayscale(90%); */
}

.img2 {
  padding-top: 25rem;
  height: 5rem;
  opacity: 1;
  z-index: 1;
}

/* Animations */

/* .bro_signup h4:hover {
  background-color: pink;
}

.bro_signup h4 {
  transition: background-color 0.3s ease;
} */

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
    center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;
}
